{% extends "base.html" %}

{% block content %}
<header>
    <div class='nav'>
        <table>
            <tr>
                <td width='auto'><img src="https://i.imgur.com/YcyIGhn.png" width="50em"/></td>
                <td width='20em'></td>
                <td width='auto' valign='top'><h3>Troop 778<br>Fenton, MO</h3></td>
            </tr>
        </table>
        <table>
            <tr>
                <td width='20em'></td>
                <td width='auto' valign='top'><h3>Home</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Camping and Events</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Photos</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Links</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Resources</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Contacts</h3></td>
            </tr>   
        </table>
    </div>
</header>
{% endblock %}