<!doctype html>
<html>

<head>
    <title>Troop 778</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>

<body>
    <header>
        <div class='navbar'>
            <table class='nav' id='1'>
                <tr>
                    <td width='5em'></td>
                    <td width='auto' align='center'><img src="..\static\Fleur de lis_White_Transparent.png" height="70em"/></td>
                    <td width='2em'></td>
                    <td><h2>Troop 778<br>Fenton, MO</h2></td>
                </tr>
            </table>
            <table class='nav' id='links' align='right'>
                <tr height='70em'>
                    <td width='20em'></td>
                    <td width='auto' valign='center'><h3><a href=home.html>Home</a></h3></td>
                    <td width='20em' valign='center' align='center'><h3>|</h3></td>
                    <td width='auto' valign='center'><h3><a href=campingandevents.html>Camping and Events</a></h3></td>
                    <td width='20em' valign='center' align='center'><h3>|</h3></td>
                    <td width='auto' valign='center'><h3><a>Photos</a></h3></td>
                    <td width='20em' valign='center' align='center'><h3>|</h3></td>
                    <td width='auto' valign='center'><h3><a href=links.html>Links</a></h3></td>
                    <td width='20em' valign='center' align='center'><h3>|</h3></td>
                    <td width='auto' valign='center'><h3><a>Resources</a></h3></td>
                    <td width='20em' valign='center' align='center'><h3>|</h3></td>
                    <td width='auto' valign='center'><h3><a href=contacts.html>Contacts</a></h3></td>
                    <td width='20em'></td>
                </tr>   
            </table>
        </div>
    </header>
<main>
    
</main>
</body>

</html>