<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>

<body>
<header>
    <div class='navbar' border=none>
        <table class='nav'>
            <tr>
                <td width='auto'><img src="../static/Fleur de lis_White_Transparent.png" width="50em"/></td>
                <td width='20em'></td>
                <td width='auto' valign='top'><h3>Troop 778<br>Fenton, MO</h3></td>
            </tr>
        </table>
        <table class='nav' align='right'>
            <tr>
                <td width='20em'></td>
                <td width='auto' valign='top'><h3>Home</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Camping and Events</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Photos</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Links</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Resources</h3></td>
                <td width='20em' valign='top' align='center'><h3>|</h3></td>
                <td width='auto' valign='top'><h3>Contacts</h3></td>
                <td width='20em'></td>
            </tr>   
        </table>
    </div>
</header>    
</body>

</html>